body{
    font-family: "Work Sans";
}
button{
    height: 64px;
}
header{
    padding:216px 230px;
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.banner-content{

    text-align: right;
    margin-left: 700px;
}
.banner-title{
    color:  #151414;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    
}
.banner-description{

    color:  #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px;
}
.banner-button{

    width: 160px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}
main{
    max-width: 1140px;
    margin: 0px auto;
  
}

section{
    margin-top: 140px;
}
.my-failure{
    margin-top: 140px;
    display: flex;
    gap: 87px;
}
.my-failure-img{
   
}
.my-failure-content{
    margin-top: 230px; 
    padding-right: 75px;
}
.failure-title{

    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.failure-description{
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px;
    margin-bottom: 0px;
}

.failure-point-container{
    margin-top: 16px;
}
.failure-point{
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 8px;
}
p>i{
    color: lightgreen;
}

.my-plan-title{
    color:  #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.plan-container{
    display: flex;
    gap: 86px;
}
.plan{
    text-align: center;
}
.plan-title{
    color:  #151414;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.plan-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
.last-banner{
    background-image: url(images/gradient2.png),url(images/watch.png);
    padding: 59px 617px 59px 64px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.last-banner-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}

.last-banner-button{
    width: 160px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    border: 0;
}
footer{
    margin-top: 140px;
    padding: 130px 270px;
    background: #151414;
    color: #F8F8F8;
    display: flex;
    gap: 330px;
}

.footer-title{

    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subscribe{

    font-size: 25px;
    font-weight: 600;
}
.footer-column input,button{
    display: block;
}
.footer-descrption{

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
footer input{
    padding: 21px;
    border: 1px solid  #FFF;
    background: #151414;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.subscribe-button{
    width: 170.106px;
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;

}

.social-link>a{
    margin-right: 15px;
}